html, body, #root, .app-container {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

* {
  font-family: "Raleway";
}

nav {
  height: 7%;
  display: flex;
  justify-content: space-between;
}

.nav-name {
  box-sizing: border-box;
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
}

.nav-name h1 {
  display: none;
}

.nav-name h2 {
  display: block;
  padding: 0;
  margin: 0;
}

.nav-personals {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 0.5rem;
}

.nav-personals button {
  display: block;
  background-color: white;
  border: none;
  color: black;
  font-weight: 700;
  font-size: 1rem;
  height: 50%;
}

.nav-personals button:hover {
  background-color: #e2e2e2;
}

.nav-personals button:focus {
  outline: 1px groove black;
}

.nav-personals i {
  font-size: 1.5rem;
  color: black;
  margin: 0 2px;
}

.nav-personals i:hover {
  color: #656565;
}

.nav-projects {
  display: none;
}

.nav-projects button {
  display: none;
}

.content-container {
  height: 80%;
  display: flex;
  flex-direction: column;
}

.splash-text-left p {
  margin: 0;
  padding: 0;
  font-size: 20vw;
  font-weight: 900;
  letter-spacing: 0.7rem;
}

.splash-text-right p {
  margin: 0;
  padding: 0;
  font-size: 20vw;
  font-weight: 900;
  letter-spacing: 0.7rem;
}

.left-container {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 5%;
  box-sizing: border-box;
}

.left-container a {
  height: 100%;
}

.left-container img {
  max-width: 100%;
  max-height: 100%;
}

.right-container {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 5%;
  box-sizing: border-box;
}

.resume-container {
  display: none;
}

.resume {
  display: none;
}

.bio-button-container button {
  display: block;
  background-color: white;
  border: none;
  color: black;
  font-weight: 700;
  margin: 2px;
}

.bio-button-container button:hover {
  background-color: #e2e2e2;
}

.bio-button-container button:focus {
  outline: 1px groove black;
}

.bio p {
  font-size: 0.8rem;
}

footer {
  display: flex;
  height: 13%;
  justify-content: space-around;
  align-items: center;
}

footer button {
  height: 90%;
  background-color: white;
}

@media screen and (min-width: 900px) {
  nav {
    display: grid;
    grid-template-columns: 20% 60% 20%;
  }

  .nav-name {
    padding-left: 2rem;
  }

  .nav-name h1 {
    display: block;
    font-size: 2rem;
    padding: 0;
    margin: 0;
  }

  .nav-name h2 {
    display: none;
  }

  .nav-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nav-projects p {
    margin: 0;
    padding: 0;
  }

  .nav-button-container {
    display: flex;
    margin-top: 5px;
  }

  .nav-projects button {
    display: block;
    background-color: white;
    border: none;
    color: black;
    font-weight: 700;
    margin: 0 2px;
  }

  .nav-projects button:hover {
    background-color: #e2e2e2;
  }

  .nav-projects button:focus {
    outline: 1px groove black;
  }

  .nav-personals {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .nav-personals button {
    display: block;
    background-color: white;
    border: none;
    color: black;
    font-weight: 700;
    font-size: 1.5rem;
    height: 50%;
  }

  .nav-personals button:hover {
    background-color: #e2e2e2;
  }

  .nav-personals button:focus {
    outline: 1px groove black;
  }

  .nav-personals i {
    font-size: 2rem;
    color: black;
    margin: 0 2px;
  }

  .nav-personals i:hover {
    color: #656565;
  }

  .content-container {
    height: 93%;
    display: flex;
    flex-direction: row;
  }

  .splash-text-left p {
    margin: 0;
    padding: 0;
    font-size: 20vw;
    font-weight: 300;
    letter-spacing: 3rem;
  }

  .splash-text-right p {
    margin: 0;
    padding: 0;
    font-size: 20vw;
    font-weight: 300;
    letter-spacing: 3rem;
  }

  .left-container {
    height: 100%;
    box-sizing: border-box;
    width: 50%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0;
  }

  .left-container a {
    width: 100%;
    height: auto;
    display: flex;
  }

  .left-container img {
    max-width: 100%;
    max-height: 100%;
  }

  .right-container {
    height: 100%;
    box-sizing: border-box;
    width: 50%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .resume-container {
    width: 100%;
    height: auto;
    display: flex;
  }

  .resume {
    max-width: 85%;
    display: block;
    margin: 0 auto;
  }

  .bio h1 {
    font-size: 5rem;
  }

  .bio p {
    font-size: 1.5rem;
  }

  footer {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
