* {
  font-family: "Raleway";
}

html,
body,
#root,
.App {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.App {
  display: grid;
  grid-template-rows: 8% 82% 10%;
}

nav {
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 0.3rem;
}
nav .title {
  padding: 0.5vh;
}
nav .title a {
  color: black;
}
nav .title a .title-wide {
  display: none;
}
nav .title a h1 {
  padding: 0;
  margin: 0;
  font-size: 3vh;
  font-weight: 300;
}
nav .title a i {
  display: none;
}
nav .title a span {
  visibility: hidden;
}
nav .title h2 {
  padding: 0;
  margin: 0;
  font-size: 0.65rem;
  font-weight: 900;
}
nav .projects {
  display: none;
}
nav .contacts-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1vw;
}
nav .contacts-container .about-me-link {
  border: 3px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  color: white;
  background: black;
  font-size: 1vh;
  font-weight: 900;
  padding: 0.1rem;
  padding-right: 0;
  margin-right: 0.1rem;
}
nav .contacts-container .icons-container {
  display: flex;
}
nav .contacts-container .icons-container i {
  background: white;
  color: black;
  font-size: 5vh;
  margin: 0.2rem;
}

.home {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-row: 2/3;
  color: white;
  font-size: 20vw;
  font-weight: 900;
}
.home .left {
  width: 100%;
  height: 100%;
  background: #4894b0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-duration: 1500ms !important;
}
.home .right {
  width: 100%;
  height: 100%;
  background: #446e92;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-duration: 1500ms !important;
}

.about {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: 50% 50%;
}
.about .left {
  width: 100%;
  height: 100%;
  background: #bb8378;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .left img {
  width: 50%;
}
.about .right {
  width: 100%;
  height: 100%;
  background: #59a4c0;
  color: white;
  padding: 1rem;
}
.about .right .bio h1 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
}
.about .right .bio .bio-carousel {
  color: white;
  text-align: left;
  display: flex;
  align-items: center;
  width: 100%;
  height: 6vh;
  box-sizing: border-box;
  margin-top: 2rem;
  padding: 0.7rem;
}
.about .right .bio .bio-carousel h3 {
  font-size: 1.2rem;
}
.about .right .bio .bio-carousel .carousel-indicators {
  display: none;
}
.about .right .bio .bio-carousel .carousel-control-prev,
.about .right .bio .bio-carousel .carousel-control-next {
  display: none;
}
.about .right .contact-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about .right .contact-mobile h1 {
  text-align: center;
}
.about .right .contact-mobile .contact-link-container-mobile {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0 1rem 0;
}
.about .right .contact-mobile .contact-link-container-mobile a {
  padding: 0;
  margin: 0;
  background: white;
  border-radius: 5px;
  color: #59a4c0;
  font-size: 1rem;
  font-weight: 900;
  width: 47%;
  padding: 0.2rem 0;
  text-align: center;
}
.about .right .medals {
  box-sizing: border-box;
  padding: 0.5rem;
  margin: auto 0;
}
.about .right .medals .medal-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about .right .medals .medal-container .medal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .right .medals .medal-container .medal i {
  font-size: 2rem;
  margin: 0.25rem;
}
.about .right .medals .medal-container .medal p {
  display: none;
}
.about .right .contact-link-container {
  display: none;
}

.project-display {
  grid-row: 2/3;
  height: 100%;
}
.project-display .project {
  height: 100%;
  color: white;
  display: grid;
  grid-template-rows: 50% 50%;
}
.project-display .project .project-image {
  display: flex;
}
.project-display .project .project-image .img-carousel {
  display: flex;
  width: 90%;
  margin: auto;
}
.project-display .project .project-image .img-carousel .carousel-indicators {
  display: none;
}
.project-display .project .project-image .img-carousel .carousel-control-prev,
.project-display .project .project-image .img-carousel .carousel-control-next {
  display: none;
}
.project-display .project-info-container {
  display: flex;
  box-sizing: border-box;
  padding: 1rem;
}
.project-display .project-info-container .project-info h1 {
  padding: 0;
  margin: 0;
  font-weight: 900;
  text-align: center;
  font-size: 2rem;
}
.project-display .project-info-container .project-info hr {
  width: 70%;
  background: white;
  padding: 0;
  margin: 0;
  margin: 0.5rem auto;
}
.project-display .project-info-container .project-info h2 {
  font-size: 1.1rem;
}
.project-display .project-info-container .project-info h3 {
  font-size: 0.9rem;
  font-weight: 300;
}
.project-display .project-info-container .project-info h4 {
  display: inline-block;
  font-weight: 900;
  font-size: 1rem;
  margin: 0 0.5rem;
}
.project-display .project-info-container .project-info h4 a {
  color: white;
}
.project-display .project-info-container .project-info p {
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
  margin: 0.2rem 0;
}

footer {
  display: block;
  padding-top: 0.3rem;
  grid-row: 3/4;
}
footer .footer-projects {
  flex-direction: column;
  padding: 0;
  margin: 0;
}
footer .footer-projects h4 {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 0.2rem;
}
footer .footer-projects .footer-project-link-container {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  padding-right: 0.2rem;
}
footer .footer-projects .footer-project-link-container li {
  padding: 0;
  margin: 0;
  list-style: none;
  color: black;
  font-size: 3vw;
  background: black;
  border: 3px solid black;
  border-radius: 5px;
  box-sizing: border-box;
}
footer .footer-projects .footer-project-link-container li a {
  color: white;
  font-weight: 700;
}

@media screen and (min-width: 1225px) {
  .App {
    display: grid;
    grid-template-rows: 8% 1fr;
  }

  nav {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 30% 1fr 30%;
  }
  nav .title {
    padding: 0;
    margin: 0;
    padding: 0.5rem 1rem 0 1rem;
  }
  nav .title a .title-wide {
    display: inline;
  }
  nav .title a .title-mobile {
    display: none;
  }
  nav .title a:hover {
    text-decoration: none;
  }
  nav .title span {
    visibility: visible;
  }
  nav .title h1 {
    padding: 0;
    margin: 0;
    font-size: 3vh;
    font-weight: 900;
    color: black;
  }
  nav .title h1 i {
    color: #446e92;
    margin-left: 0.3rem;
    display: inline-block;
  }
  nav .title h1:hover {
    text-decoration: underline;
  }
  nav .title h1:hover a {
    text-decoration: none;
  }
  nav .title h1:hover span {
    opacity: 1;
    visibility: visible;
  }
  nav .title h2 {
    padding: 0;
    margin: 0;
    font-size: 2vh;
  }
  nav .title span {
    opacity: 0;
  }
  nav .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  nav .projects h4 {
    padding: 0;
    margin: 0;
    font-size: 2vh;
  }
  nav .projects .project-link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  nav .projects .project-link-container li {
    padding: 0;
    margin: 0;
    list-style: none;
    margin: 0 1vw;
    color: black;
    font-size: 1.5vh;
  }
  nav .projects .project-link-container .project-button {
    color: black;
    font-weight: 900;
  }
  nav .contacts-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1vw;
  }
  nav .contacts-container .about-me-link {
    border: 3px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
    background: black;
    font-size: 1.6vh;
    font-weight: 900;
    padding: 6px 2px;
    margin-right: 5px;
  }
  nav .contacts-container i {
    background: white;
    color: black;
    font-size: 4vh;
    margin: 0 0.4rem;
  }

  .home {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    color: white;
    font-size: 20vw;
    font-weight: 300;
    letter-spacing: 3rem;
  }
  .home .left {
    width: 100%;
    height: 100%;
    background: #4894b0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-duration: 1500ms !important;
  }
  .home .right {
    width: 100%;
    height: 100%;
    background: #446e92;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-duration: 1500ms !important;
  }

  .about {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
  }
  .about .left {
    width: 100%;
    height: 100%;
    background: #bb8378;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about .left img {
    width: 90%;
  }
  .about .right {
    width: 100%;
    height: 100%;
    background: #59a4c0;
    color: white;
  }
  .about .right .bio h1 {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin: 3rem auto 0 auto;
    padding: 0.5rem;
    font-size: 5rem;
    font-weight: 900;
    text-align: center;
  }
  .about .right .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .about .right .contact h1 {
    text-align: center;
  }
  .about .right .contact .contact-link-container {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
  }
  .about .right .contact .contact-link-container a {
    padding: 0;
    margin: 0;
    padding: 1rem;
    background: white;
    border-radius: 5px;
    color: #59a4c0;
    font-size: 1rem;
    width: 25%;
    text-align: center;
  }
  .about .right .contact-mobile {
    display: none;
  }
  .about .right .medals {
    box-sizing: border-box;
    padding: 2rem;
  }
  .about .right .medals .medal-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .about .right .medals .medal-container .medal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 1rem 0 1rem;
  }
  .about .right .medals .medal-container .medal i {
    margin: 0;
    font-size: 3vw;
  }
  .about .right .medals .medal-container .medal p {
    font-size: 0.8vw;
    margin-top: 5px;
    color: white;
    display: block;
  }
  .about .bio-carousel {
    color: white;
    text-align: left;
    display: flex;
    align-items: center;
    width: 90%;
    height: 10vh;
    margin: 0 auto;
  }
  .about .bio-carousel .carousel-indicators {
    display: none;
  }
  .about .bio-carousel .carousel-control-prev,
.about .bio-carousel .carousel-control-next {
    display: none;
  }

  .project-display {
    grid-row: 2/3;
  }
  .project-display .project {
    color: white;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
  }
  .project-display .project .img-carousel {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 2rem;
  }
  .project-display .project-info-container {
    display: flex;
    align-items: center;
  }
  .project-display .project-info-container .project-info {
    padding: 5rem;
  }
  .project-display .project-info-container .project-info h1 {
    padding: 0;
    margin: 0;
    font-weight: 900;
    text-align: center;
    font-size: 4rem;
  }
  .project-display .project-info-container .project-info hr {
    width: 70%;
    background: white;
    margin-bottom: 1rem;
  }
  .project-display .project-info-container .project-info h3 {
    font-weight: 300;
    font-size: 1.5rem;
  }
  .project-display .project-info-container .project-info h4 {
    display: inline-block;
    margin: 1rem;
    font-weight: 900;
  }
  .project-display .project-info-container .project-info p {
    font-size: 1rem;
  }

  footer {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
