// MIXINS
@mixin zeropaddingmargin {
  padding: 0;
  margin: 0;
}

@mixin hundredeverything {
  width: 100%;
  height: 100%;
}

@mixin borderbubble($color: black) {
  border: 3px solid $color;
  border-radius: 5px;
  box-sizing: border-box;
}

@mixin halfnhalf {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
}

@mixin halfnhalf-mobile {
  display: grid;
  grid-template-rows: 50% 50%;
}

* {
  font-family: "Raleway";
}

html,
body,
#root,
.App {
  @include zeropaddingmargin;
  @include hundredeverything;
}

.App {
  display: grid;
  grid-template-rows: 8% 82% 10%;
}

nav {
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 0.3rem;
  .title {
    padding: 0.5vh;
    a {
      color: black;
      .title-wide {
        display: none;
      }
      h1 {
        @include zeropaddingmargin;
        font-size: 3vh;
        font-weight: 300;
      }
      i {
        display: none;
      }
      span {
        visibility: hidden;
      }
    }
    h2 {
      @include zeropaddingmargin;
      font-size: 0.65rem;
      font-weight: 900;
    }
  }
  .projects {
    display: none;
  }
  .contacts-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1vw;
    .about-me-link {
      @include borderbubble;
      color: white;
      background: black;
      font-size: 1vh;
      font-weight: 900;
      padding: 0.1rem;
      padding-right: 0;
      margin-right: 0.1rem;
    }
    .icons-container {
      display: flex;
      i {
        background: white;
        color: black;
        font-size: 5vh;
        margin: 0.2rem;
      }
    }
  }
}

.home {
  @include zeropaddingmargin;
  @include halfnhalf-mobile;
  grid-row: 2 / 3;
  color: white;
  font-size: 20vw;
  font-weight: 900;
  // letter-spacing: 3rem;
  .left {
    @include hundredeverything;
    background: #4894b0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-duration: 1500ms !important;
  }
  .right {
    @include hundredeverything;
    background: #446e92;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-duration: 1500ms !important;
  }
}

.about {
  @include zeropaddingmargin;
  @include halfnhalf-mobile;
  .left {
    @include hundredeverything;
    background: #bb8378;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 50%;
    }
  }
  .right {
    @include hundredeverything;
    background: #59a4c0;
    color: white;
    padding: 1rem;
    .bio {
      h1 {
        @include zeropaddingmargin;
        box-sizing: border-box;
        font-size: 2.5rem;
        font-weight: 900;
        text-align: center;
      }
      .bio-carousel {
        color: white;
        text-align: left;
        display: flex;
        align-items: center;
        width: 100%;
        height: 6vh;
        box-sizing: border-box;
        margin-top: 2rem;
        padding: 0.7rem;
        h3 {
          font-size: 1.2rem;
        }
        .carousel-indicators {
          display: none;
        }
        .carousel-control-prev,
        .carousel-control-next {
          display: none;
        }
      }
    }
    .contact-mobile {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h1 {
        text-align: center;
      }
      .contact-link-container-mobile {
        display: flex;
        justify-content: space-around;
        margin: 2rem 0 1rem 0;
        a {
          @include zeropaddingmargin;
          background: white;
          border-radius: 5px;
          color: #59a4c0;
          font-size: 1rem;
          font-weight: 900;
          width: 47%;
          padding: 0.2rem 0;
          text-align: center;
        }
      }
    }
    .medals {
      box-sizing: border-box;
      padding: 0.5rem;
      margin: auto 0;
      .medal-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .medal {
          display: flex;
          flex-direction: column;
          align-items: center;
          i {
            font-size: 2rem;
            margin: 0.25rem;
          }
          p {
            display: none;
          }
        }
      }
    }
    .contact-link-container {
      display: none;
    }
  }
}

.project-display {
  grid-row: 2 / 3;
  height: 100%;
  .project {
    height: 100%;
    color: white;
    @include halfnhalf-mobile;
    .project-image {
      display: flex;
      .img-carousel {
        display: flex;
        width: 90%;
        margin: auto;
        .carousel-indicators {
          display: none;
        }
        .carousel-control-prev,
        .carousel-control-next {
          display: none;
        }
      }
    }
  }
  .project-info-container {
    display: flex;
    box-sizing: border-box;
    padding: 1rem;
    .project-info {
      h1 {
        @include zeropaddingmargin;
        font-weight: 900;
        text-align: center;
        font-size: 2rem;
      }
      hr {
        width: 70%;
        background: white;
        @include zeropaddingmargin;
        margin: 0.5rem auto;
      }
      h2 {
        font-size: 1.1rem;
      }
      h3 {
        font-size: 0.9rem;
        font-weight: 300;
      }
      h4 {
        display: inline-block;
        font-weight: 900;
        font-size: 1rem;
        margin: 0 0.5rem;
        a {
          color: white;
        }
      }
      p {
        @include zeropaddingmargin;
        font-size: 0.8rem;
        margin: 0.2rem 0;
      }
    }
  }
}

footer {
  display: block;
  padding-top: 0.3rem;
  grid-row: 3 / 4;
  .footer-projects {
    flex-direction: column;
    @include zeropaddingmargin;
    h4 {
      @include zeropaddingmargin;
      font-size: 1.5rem;
      text-align: center;
      margin-top: 0.2rem;
    }
    .footer-project-link-container {
      @include zeropaddingmargin;
      display: flex;
      justify-content: space-around;
      padding-right: 0.2rem;
      li {
        @include zeropaddingmargin;
        list-style: none;
        color: black;
        font-size: 3vw;
        background: black;
        @include borderbubble;
        a {
          color: white;
          font-weight: 700;
        }
      }
    }
  }
}

// LAPTOP WIDTH // LAPTOP WIDTH // LAPTOP WIDTH
// LAPTOP WIDTH // LAPTOP WIDTH // LAPTOP WIDTH
// LAPTOP WIDTH // LAPTOP WIDTH // LAPTOP WIDTH
// LAPTOP WIDTH // LAPTOP WIDTH // LAPTOP WIDTH
// LAPTOP WIDTH // LAPTOP WIDTH // LAPTOP WIDTH

@media screen and (min-width: 1225px) {
  .App {
    display: grid;
    grid-template-rows: 8% 1fr;
  }

  nav {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 30% 1fr 30%;
    .title {
      @include zeropaddingmargin;
      padding: 0.5rem 1rem 0 1rem;
      a {
        .title-wide {
          display: inline;
        }
        .title-mobile {
          display: none;
        }
      }
      a:hover {
        text-decoration: none;
      }
      span {
        visibility: visible;
      }
      h1 {
        @include zeropaddingmargin;
        font-size: 3vh;
        font-weight: 900;
        color: black;
        i {
          color: #446e92;
          margin-left: 0.3rem;
          display: inline-block;
        }
        &:hover {
          text-decoration: underline;
          a {
            text-decoration: none;
          }
          span {
            opacity: 1;
            visibility: visible;
          }
        }
      }
      h2 {
        @include zeropaddingmargin;
        font-size: 2vh;
      }
      span {
        opacity: 0;
      }
    }
    .projects {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include zeropaddingmargin;
      h4 {
        @include zeropaddingmargin;
        font-size: 2vh;
      }
      .project-link-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        @include zeropaddingmargin;
        li {
          @include zeropaddingmargin;
          list-style: none;
          margin: 0 1vw;
          color: black;
          font-size: 1.5vh;
        }
        .project-button {
          color: black;
          font-weight: 900;
        }
      }
    }
    .contacts-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 1vw;
      .about-me-link {
        @include borderbubble;
        color: white;
        background: black;
        font-size: 1.6vh;
        font-weight: 900;
        padding: 6px 2px;
        margin-right: 5px;
      }
      i {
        background: white;
        color: black;
        font-size: 4vh;
        margin: 0 0.4rem;
      }
    }
  }

  .home {
    @include zeropaddingmargin;
    @include halfnhalf;
    color: white;
    font-size: 20vw;
    font-weight: 300;
    letter-spacing: 3rem;
    .left {
      @include hundredeverything;
      background: #4894b0;
      display: flex;
      justify-content: center;
      align-items: center;
      animation-duration: 1500ms !important;
    }
    .right {
      @include hundredeverything;
      background: #446e92;
      display: flex;
      justify-content: center;
      align-items: center;
      animation-duration: 1500ms !important;
    }
  }

  .about {
    @include zeropaddingmargin;
    @include halfnhalf;
    .left {
      @include hundredeverything;
      background: #bb8378;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 90%;
      }
    }
    .right {
      @include hundredeverything;
      background: #59a4c0;
      color: white;
      .bio {
        h1 {
          @include zeropaddingmargin;
          box-sizing: border-box;
          margin: 3rem auto 0 auto;
          padding: 0.5rem;
          font-size: 5rem;
          font-weight: 900;
          text-align: center;
        }
      }
      .contact {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h1 {
          text-align: center;
        }
        .contact-link-container {
          display: flex;
          justify-content: space-around;
          margin-top: 2rem;
          a {
            @include zeropaddingmargin;
            padding: 1rem;
            background: white;
            border-radius: 5px;
            color: #59a4c0;
            font-size: 1rem;
            width: 25%;
            text-align: center;
          }
        }
      }
      .contact-mobile {
        display: none;
      }
      .medals {
        box-sizing: border-box;
        padding: 2rem;
        .medal-container {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          .medal {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 1rem 1rem 0 1rem;

            i {
              margin: 0;
              font-size: 3vw;
            }
            p {
              font-size: 0.8vw;
              margin-top: 5px;
              color: white;
              display: block;
            }
          }
        }
      }
    }
    .bio-carousel {
      color: white;
      text-align: left;
      display: flex;
      align-items: center;
      width: 90%;
      height: 10vh;
      margin: 0 auto;
      .carousel-indicators {
        display: none;
      }
      .carousel-control-prev,
      .carousel-control-next {
        display: none;
      }
    }
  }

  .project-display {
    grid-row: 2 / 3;
    .project {
      color: white;
      height: 100%;
      @include halfnhalf;
      .img-carousel {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 2rem;
      }
    }
    .project-info-container {
      display: flex;
      align-items: center;
      .project-info {
        padding: 5rem;
        h1 {
          @include zeropaddingmargin;
          font-weight: 900;
          text-align: center;
          font-size: 4rem;
        }
        hr {
          width: 70%;
          background: white;
          margin-bottom: 1rem;
        }
        h3 {
          font-weight: 300;
          font-size: 1.5rem;
        }
        h4 {
          display: inline-block;
          margin: 1rem;
          font-weight: 900;
        }
        p {
          font-size: 1rem;
        }
      }
    }
  }
  footer {
    display: none;
  }
}
